apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: shporaai
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: ghcr.io/stillnotenough/user-service:sha-76350f5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: user-service-secrets
                  key: JWT_SECRET

            - name: JWT_ACCESS_EXPIRATION
              valueFrom:
                secretKeyRef:
                  name: user-service-secrets
                  key: JWT_ACCESS_EXPIRATION

            - name: JWT_REFRESH_EXPIRATION
              valueFrom:
                secretKeyRef:
                  name: user-service-secrets
                  key: JWT_REFRESH_EXPIRATION
            
            - name: DB_URL
              value: "jdbc:postgresql://shporaai-postgres:5432/shporaai_db"

            - name: DB_USER
              valueFrom:
               secretKeyRef:
                name: user-service-secret
                key: POSTGRES_USER

            - name: DB_PASSWORD
              valueFrom:
               secretKeyRef:
                name: user-service-secret
                key: POSTGRES_PASSWORD
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 5
            failureThreshold: 30

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3