apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: shporaai
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: ghcr.io/stillnotenough/user-service:sha-df7862f
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          startupProbe:
            httpGet:
              path: /api/v1/auth/health
              port: 8080
            periodSeconds: 5
            failureThreshold: 30

          readinessProbe:
            httpGet:
              path: /api/v1/auth/health
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /api/v1/auth/health
              port: 8080
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3