apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: shporaai
  labels:
    app: kafka
spec:
  clusterIP: None  # Headless service
  selector:
    app: kafka
  ports:
  - port: 9092
    name: plaintext
    targetPort: 9092
  - port: 9093
    name: controller
    targetPort: 9093
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: shporaai
  labels:
    app: kafka
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
  - port: 9092
    name: plaintext
    targetPort: 9092