apiVersion: v1
kind: Service
metadata:
  name: shporaai-postgres
  namespace: shporaai
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  selector:
    app: shporaai-postgres