apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: shporaai-postgres
  namespace: shporaai
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  serviceName: shporaai-postgres
  replicas: 1
  selector:
    matchLabels:
      app: shporaai-postgres
  template:
    metadata:
      labels:
        app: shporaai-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
              name: postgres
          envFrom:
            - secretRef:
                name: user-postgres-secret
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
          readinessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
            initialDelaySeconds: 10
            periodSeconds: 10
  volumeClaimTemplates:
    - metadata:
        name: pgdata
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi